# 07 Segmentación de Clientes con Modelo RFM

En este ejercicio vamos a transformar datos transaccionales crudos en segmentos de clientes accionables.

**Pasos:**
1. Generación, Carga y Exploración de Datos
2. Cálculo de Métricas RFM
3. Scoring
4. Segmentación Estratégica para la Toma de Decisiones
5. Visualización

In [11]:
import pandas as pd
import numpy as np
import datetime

In [12]:
np.random.seed(42)
n_transacciones = 1000
n_clientes = 50

In [13]:
fechas = pd.date_range(start='2023-01-01', end='2023-12-31', periods=n_transacciones)
fechas = np. random.choice(fechas, n_transacciones) # Desordenar fechas
cliente_ids = np. random. randint (1000, 1000 + n_clientes, n_transacciones)
cantidades = np. random.randint(1, 10, n_transacciones)
precios = np.round(np. random.uniform(10, 100, n_transacciones), 2)

In [14]:

 df = pd. DataFrame({
'ID_Transaccion': [f'TRX-{i}' for i in range(n_transacciones)],
'ID_Cliente': cliente_ids,
'Fecha': fechas,
'Cantidad': cantidades,
'Precio_Unitario': precios

 })
df[ 'Total'] = df[ 'Cantidad'] * df[ 'Precio_Unitario']

In [15]:
df["Fecha"].max()

Timestamp('2023-12-30 15:15:18.918918920')

In [16]:
df_rfm=df.groupby("ID_Cliente")["Fecha"].max()
df_rfm

ID_Cliente
1000   2023-12-20 01:39:27.567567568
1001   2023-12-29 21:45:56.756756756
1002   2023-12-29 21:45:56.756756756
1003   2023-12-22 06:07:34.054054056
1004   2023-12-24 10:35:40.540540540
1005   2023-12-29 13:01:15.675675676
1006   2023-11-30 00:41:48.108108108
1007   2023-12-30 15:15:18.918918920
1008   2023-12-21 12:38:11.891891892
1009   2023-12-01 20:25:13.513513516
1010   2023-12-28 10:47:12.432432432
1011   2023-11-18 08:51:53.513513516
1012   2023-11-11 01:58:11.891891892
1013   2023-12-16 18:57:17.837837840
1014   2023-12-07 07:35:29.729729732
1015   2023-11-25 15:45:35.135135136
1016   2023-12-30 15:15:18.918918920
1017   2023-12-24 01:50:59.459459460
1018   2023-12-22 23:36:56.216216216
1019   2023-12-07 07:35:29.729729732
1020   2023-10-14 09:22:09.729729732
1021   2023-11-23 11:17:28.648648648
1022   2023-12-27 08:33:09.189189192
1023   2023-12-28 02:02:31.351351352
1024   2023-12-07 16:20:10.810810812
1025   2023-11-27 11:29:00.540540540
1026   2023-12-04 18:22:42.162162164
1027   2023-12-26 15:03:47.027027028
1028   2023-12-15 16:43:14.594594596
1029   2023-12-17 12:26:40.000000000
1030   2023-12-29 13:01:15.675675676
1031   2023-12-11 07:47:01.621621624
1032   2023-11-10 08:28:49.729729732
1033   2023-12-24 19:20:21.621621624
1034   2023-11-21 06:49:22.162162164
1035   2023-12-15 07:58:33.513513516
1036   2023-11-21 15:34:03.243243244
1037   2023-12-14 23:13:52.432432432
1038   2023-12-26 15:03:47.027027028
1039   2023-12-15 16:43:14.594594596
1040   2023-12-06 05:21:26.486486488
1041   2023-12-14 05:44:30.270270272
1042   2023-12-14 14:29:11.351351352
1043   2023-11-27 02:44:19.459459460
1044   2023-12-10 05:32:58.378378380
1045   2023-12-21 03:53:30.810810812
1046   2023-12-28 10:47:12.432432432
1047   2023-11-18 08:51:53.513513516
1048   2023-12-25 21:34:24.864864864
1049   2023-12-17 12:26:40.000000000
Name: Fecha, dtype: datetime64[ns]